{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<h1>Student Information</h1>
<table class="table table-info">
    <thead class="table-dark">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for Student in students %}
        <tr>
            <td>{{ Student.firstname }}</td>
            <td>{{ Student.lastname }}</td>
            <td>{{ Student.email }}</td>
            <td>
                <a href="edit/{{ Student.id }}" class= "btn btn-warning">EDIT</a>
                <a href="delete/{{ Student.id }}" class="btn btn-primary">DELETE</a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

<center><a href="/index" class="btn btn-primary">Add New Student</a></center>

</body>
</html>
{% endblock %}